#about-section {
  background-image: url(../img/about.jpg);
  background-position: center;
  min-height: 650px;
  background-size: cover; }

.about-dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 650px; }

.welcome-about {
  padding-top: 250px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 55px;
  letter-spacing: 2px;
  line-height: 50px; }

@media screen and (max-width: 428px) {
  .welcome-about {
    font-size: 35px;
    letter-spacing: none; } }

.welcome-p {
  color: #fff;
  font-size: 23px;
  letter-spacing: 1px; }

.who-we-are {
  color: #333;
  background-color: orange; }

.about-intro {
  margin-top: 70px; }

.restaurant-container {
  margin-top: 70px; }

.restaurant-container {
  background-image: url(../img/restaurant2.jpg);
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.restaurant-title {
  font-size: 60px;
  font-weight: bold;
  padding-top: 150px;
  text-transform: uppercase;
  letter-spacing: 2px; }

@media screen and (max-width: 553px) {
  .restaurant-title {
    font-size: 35px; } }

.our-restaurants {
  margin-top: 70px; }

.newspaper {
  margin-top: 70px; }

.news-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold; }

#restaurant-section {
  background-image: url(../img/outside.jpg);
  background-position: center;
  min-height: 650px;
  background-size: cover; }

.restaurant-dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 650px; }

.restaurant-intro {
  margin-top: 70px; }

.img-sank {
  background-image: url(../img/pice1.jpg);
  background-repeat: no-repeat;
  height: 450px;
  background-size: cover;
  width: 100%; }

.menu-title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase; }

.menu-container {
  margin-top: 70px; }

.food-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.food-price {
  text-align: right !important; }

#notes-section {
  background-image: url(../img/notes.jpg);
  background-position: center;
  min-height: 650px;
  background-size: cover; }

.notes-container {
  margin-top: 70px; }

#blog-post-section {
  background-image: url(../img/bg7.jpg);
  background-position: center;
  min-height: 450px;
  background-size: cover; }

.blog-dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 450px; }

.blog-post-title {
  margin-top: 70px;
  margin-bottom: 50px; }

.post-img {
  background-size: cover;
  width: 100%;
  height: 400px; }

#contact-section {
  background-image: url(../img/contact.jpg);
  background-position: center;
  min-height: 450px;
  background-size: cover; }

.contact-dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 450px; }

.contact-title {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 180px;
  color: #fff; }

#contact {
  margin-top: 70px;
  margin-bottom: 70px; }

#catering-section {
  background-image: url(../img/bg4.jpg);
  background-position: center;
  min-height: 450px;
  background-size: cover; }

.catering-dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 450px; }

.catering-container {
  margin-top: 70px; }

.catering-title {
  text-align: center !important; }

body {
  font-family: 'Montserrat','Great Vibes', cursive, sans-serif; }

p {
  font-size: 14px;
  color: #606060; }

.white {
  color: #fff; }

.navbar {
  margin-top: 20px;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out; }

.navbar.scrolled {
  background: #0b0d0f !important;
  margin-top: 0; }

.bg-dark {
  background-color: transparent !important; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  letter-spacing: 1px; }

.active {
  color: orange !important; }

.navbar-dark .navbar-nav .nav-link:hover {
  color: orange;
  transition: ease-in 0.3s; }

#home-section {
  background-image: url(../img/headerhome.jpg);
  background-position: center;
  min-height: 650px;
  background-size: cover; }

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 650px; }

.welcome {
  padding-top: 250px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 55px;
  letter-spacing: 2px;
  line-height: 50px; }

@media screen and (max-width: 355px) {
  .welcome {
    font-size: 45px; } }

.welcome-p {
  color: #fff;
  font-size: 23px;
  letter-spacing: 1px; }

.who-we-are {
  color: #333;
  background-color: orange; }

.cook {
  margin-top: 70px; }

.cook1 {
  width: 100%; }

.chef-title {
  font-family: Great Vibes;
  font-size: 40px; }

@media screen and (max-width: 768px) {
  .chef-title {
    margin-top: 30px; } }

.chef-title2 {
  font-size: 36px; }

.food-menu {
  margin-top: 70px;
  background: #EB5B33; }

.food-container {
  margin-bottom: 20px; }

.food-title {
  padding-top: 60px;
  color: white;
  font-family: Great Vibes;
  font-size: 50px; }

.food-subtitle {
  padding-top: 10px;
  color: white; }

.food-desc {
  padding-top: 10px;
  color: white; }

.menu-link {
  color: white; }
  .menu-link:hover {
    text-decoration: none;
    color: white; }

.img-con {
  background-image: url(../img/tapasfrontp.jpg);
  background-repeat: no-repeat;
  height: 450px;
  background-size: cover;
  width: 100%; }

.notes-title {
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold; }

.blog-img {
  height: 300px;
  width: 100%;
  background-size: cover;
  line-height: 0; }

.post-title {
  padding-top: 20px;
  font-weight: bold; }

.category a {
  color: #333; }

.category a:hover {
  text-decoration: none; }

.read a {
  color: orange; }

.read a:hover {
  text-decoration: none; }

.fa {
  color: #333; }

.all-notes a {
  font-size: 25px;
  color: #333;
  text-decoration: none;
  padding-top: 30px; }

.catering1-title {
  font-family: Great Vibes;
  font-size: 50px; }

.catering {
  margin-top: 70px;
  background: #fe9001; }

.catering-title {
  font-family: Great Vibes;
  font-size: 50px; }

.catering {
  color: white; }

.img-catering {
  background-image: url(../img/cateringph.jpg);
  background-repeat: no-repeat;
  height: 450px;
  background-size: cover;
  width: 100%; }

#map {
  padding-left: 0;
  padding-right: 0; }

.catering-container {
  padding-top: 40px; }

#footer {
  background: #0b0d0f;
  padding-top: 50px;
  padding-bottom: 50px; }

.footerF {
  color: #fff;
  font-size: 20px;
  padding-top: 20px; }

.footerF1 {
  margin-left: 20px; }

.follow-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  color: orange; }

.footer-nav {
  text-decoration: none; }

.footer-nav li {
  list-style: none; }

.footer-nav li a {
  color: white; }

@media screen and (max-width: 768px) {
  .info {
    margin-top: 30px; } }
